
.leftColumnText{
  position: relative;
    min-width: 80vh;
    background-color: white;
}
  .leftColumnHeader{
    min-width: 80vh;
   -webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
    background-color: hsl(141, 71%, 48%);
    position: relative;
    color:#222222;
  }
.table.is-hoverable12 tbody tr:not(.is-selected):hover {
  background-color: hsl(141, 71%, 48%);
}

.table.is-hoverable12.is-striped tbody tr:not(.is-selected):hover {
  background-color: hsl(141, 71%, 48%); 
  color:white;
}
 
