
#tab-content p {
  display: none;
  background-color:white;
  margin:0;
}

#tab-content p.is-active {
  margin:0;
  display: block;
}

.tabs.is-toggle li.is-active a {
    background-color: hsl(141, 71%, 48%) !important;
    border-color: hsl(141, 71%, 48%) !important;
    color: #fff;
    z-index: 1;
    margin:0;
  }
