
#tab-content p {
  display: none;
  background-color:#66a266
}

#tab-content p.is-active {
  display: block;
}
.tabs.is-toggle li.is-active a {
    background-color: #66a266 !important;
    border-color: #66a266 !important;
    color: #fff;
    z-index: 1;
}
