
/* Style the header */
.header {
  padding: 6px 6px;
  color: #f4fef4;
  border-style:solid;
  border-width:0px;
  border-color:black;
  z-index: 1000;
  background-color:hsl(141, 71%, 48%);
}
.header h2{
margin-top:0 !important;
}



.selected{
  background-color: white;
}

